<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="LetsBlank: lets you meet new people through small events online and offline. Come on! Join any event, make friends and explore your interests.
    Be yourself">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename = 'main.css')}}">
    {%block head%}

    {%endblock head%}
</head>
<body>
    {%block content%}

    {%endblock content%}

</body>
</html>